<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Select menu</h1>
    </ion-header-bar>
    <ion-content>
    	<ul class="list">
	    <li class="item" ng-click="addList()">item1</li>
	    <li class="item" ng-click="addList()">item2</li>
	    <li class="item" ng-click="addList()">item3</li>
	    <li class="item" ng-click="addList()">item4</li>
	    <li class="item" ng-click="addList()">item5</li>
	    <li class="item" ng-click="addList()">item6</li>
	    <li class="item" ng-click="addList()">item7</li>
	    <li class="item" ng-click="addList()">item8</li>
	</ul>
    </ion-content>
  </ion-modal-view>